# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: e283e8bfb6ed29abfbf09aa7551fc25535561a4c12ce148090b1c258824f02620cc849248fdf22d870c9fad889253c0134fd71399e756b737b19a00b4a7966fd

test:
  secret_key_base: 293c9b4e51d4d2a78c42aac9d89010442ea3f285898e35f3c2d22047a38d300e566a95b00f1dddccdb181e481b68fa02136eed0d6e08bd96b13d3f5fa851f829

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
