%ul
  %li
    %a{:href => restaurantes_path } Restaurantes
  %li
    %a{:href => mesas_path } Mesas
  %li
    %a{:href => clientes_path } clientes
  %li
    %a{:href => menus_path } Menus
  %li
    %a{:href => pedidos_path } Pedidos
